@font-face {

	font-family: "微軟正黑體";
	src: url("msjh.ttc");

}

* {

	font-style: "微軟正黑體";

}

header {

	position: relative;
	font-size: 25pt;
	left: 20px;
}

article#form {

	position: relative;
	font-size: 16pt;
	left: 20px;
	top: 20px;

}

