<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="form.css">
	<title>報名表</title>
</head>
<body>
	<header>報名表</header>
	<article id='form'>
		<section id='name'>姓名: 
			<input type="text">
		</section>
		<section id='phone'>手機:
			<input type="text">
		</section>
		<section id='email'>E-mail:
			<input type="text">
		</section>
		<section id='vegetarian'>
			葷<input type="radio" name="vegetarian" value="0">
			素<input type="radio" name="vegetarian" value="1">
		</section>
		<button id="submit">進行繳費</button>
	</article>
</body>
</html>